/* .responseArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow-y: auto;
  gap: 16px;
  background-color: var(--color-bg);
} */

.response {
  width: 100%;
  max-width: 800px;
  color: var(--color-text);
  padding: 16px;
  word-wrap: break-word;
  font-size: 1.2em;
}