.logoContainer {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  object-fit: contain;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: gray;
  margin-top: 10px 0;
}

.themeToggleButtonContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.MuiDialog-root {
  animation: fadeIn 0.3s;
}